.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  
}

.modal_content {
  padding: 50px 25px ;
  background-color: #fff;
  border-radius: 14px;
  min-width: 600px;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
