* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "RM Neue", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.App {
  width: 800px;
}

.newPost {
  display: flex;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #0276ff;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  padding: 10px 10px;
  text-transform: none;
  justify-content: space-between;
  align-items: center;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid #0276ff;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post__content {
  margin: 5px 0 5px 0;
}

.comment {
  margin: 5px 0 5px 0;
}

.post__list__header {
  margin-top: 15px;
  text-align: center;
}

.error {
  color: red;
  font-size: 11px;
  margin-left: 10px;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 100ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-700px);
  opacity: 0;
  transition: all 500ms ease-in;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.page__wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.page {
  padding: 10px;
  margin: 0 1px;
  border: 1px solid #0276ff;
  cursor: pointer;
  background-color: #0276ff;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  min-width: 40px;
  text-align: center;
  font-size: 100%;
}

.page__current {
  background-color: #0461d2;
  border: 1px solid #0461d2;
  font-weight: bold;
}

.page:hover {
  background-color: #1c84ff;
}

.navbar {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(95, 93, 93, 0.213) 5px 5px 5px;
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  border-radius: 5px;
}

.navLink {
  padding: 10px;
  margin: 0 2px;
  min-width: 90px;
  font-family: "RM Neue", sans-serif;
  text-decoration: inherit;
  border-radius: 5px;
  background-color: #0276ff;
  color: white;
  text-align: center;
}

.navLink_active {
  background-color: #0461d2;
  color: white;
}

.navLink:hover {
  background-color: #1c84ff;
}
