.button {
  background-color: #0276ff;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  margin: 5px 5px 5px 0;
  padding: 10px 21px;
  min-width: 90px;
}

.button:active {
  background-color: #006ae8;
}

.button:hover {
  background-color: #1c84ff;
}
